@using ShopCar.Model;
@model IEnumerable<SanPham>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/LayOutPage/HomeLayout.cshtml";
}

@{ 
    IEnumerable<SanPham> lstChanNang = (IEnumerable<SanPham>)ViewBag.lstChanNang;
    IEnumerable<SanPham> lstPhuKienKhac = (IEnumerable<SanPham>)ViewBag.lstPhuKienKhac;
    IEnumerable<SanPham> lstDauNhot = (IEnumerable<SanPham>)ViewBag.lstDauNhot;
    IEnumerable<SanPham> lstSon = (IEnumerable<SanPham>)ViewBag.lstSon;
}
    <div class="container">
        @*<div class="col-12 text-center" style="margin-bottom:30px">
            <h1>Danh sách các sản phẩm theo loại</h1>
        </div>*@
        
        <div class="row shop_wrapper" style="">
            <div class="col-12 text-center">
                <h1>Tấm chắn nắng</h1>
            </div>
            @Html.Partial("~/Views/SanPham/SanPhamPartial.cshtml", lstChanNang);
            <div class="clearfix"> </div>

            <div class="col-12 text-center">
                <h1>Phụ kiện khác</h1>
            </div>
            @Html.Partial("~/Views/SanPham/SanPhamPartial.cshtml", lstPhuKienKhac);
            <div class="clearfix"> </div>

            <div class="col-12 text-center">
                <h1>Dầu nhớt ô tô</h1>
            </div>
            @Html.Partial("~/Views/SanPham/SanPhamPartial.cshtml", lstDauNhot);
            <div class="clearfix"> </div>

            <div class="col-12 text-center">
                <h1>Sơn ô tô</h1>
            </div>
            @Html.Partial("~/Views/SanPham/SanPhamPartial.cshtml", lstSon);
            <div class="clearfix"> </div>

        </div>
    </div>
@*<style>
    .col-12 h1 {
        text-align: center;
    }
</style>*@
